{
	"ecmaFeatures": {
		"jsx": true,
		"modules": true
	},
	"extends": "eslint:recommended",
	"env": {
		"browser": true
	},
	"parser": "babel-eslint",
	"rules": {
		"quotes": [2, "single"],
		"no-console": 0,
		"strict": [2, "never"],
		"react/jsx-uses-react": 2,
		"react/jsx-uses-vars": 2,
		"react/react-in-jsx-scope": 2,
		"semi": [
			"error",
			"always"
        ],
		"no-var": "warn",
		 "indent": [
            "error",
            "tab", {
                "SwitchCase": 1
            }
		],
		"prefer-const": "warn",
		"no-dupe-keys": "error",
		"no-func-assign": "error",
		"no-unreachable": "error",
		"default-case": "error",
		"no-else-return": "warn",
		"block-spacing": "error",
		"key-spacing": ["error", { "mode": "strict" }],
		"no-trailing-spaces": "warn",
		"no-useless-constructor": "error",
		"prefer-template": "error",
		"no-shadow": "error",
		"no-unneeded-ternary": "error",
		"multiline-ternary": ["warn", "always-multiline"]
    },
	"plugins": [
		"react"
	]
}